body{
    margin: 0;
    padding: 20px;
    font-family: 'Mulish', sans-serif;
}
header{
    /* padding: 20px; */
}
.main-logo{
    width: 30px;
    margin-right: 5px;
}
.snap{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.routes{
    color: #FF5400;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
header nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header nav ul li{
    margin-right: 10px;
    color:  #424247;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.header-content{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items{
    display: grid;
    grid-template-columns: 1fr;
}
.header-items-tittle{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 24px;
    text-align: center;
}
.general-desc{
    /* width: 676px; */
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-bottom: 40px;
}
.header-inputs{
    display: flex;
    display: inline-flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.header-inputs input[type="text"], select{

    color: rgba(19, 19, 24, 0.50);
    text-align: left;
    padding-left: 15px;
    font-size: 16px;
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: 0;
}
.btn-primary{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    border: 0;
}
.search{
    width: 13px;
}
main{
    margin: 100px 0;
}
.popular-tours{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}
.popular-tour-list{
    width: 50%;
}
.popular-tour-list ul{
    padding-left: 20px;
}
.section-tittle{
    color: #131318;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 800;
}
.tour-desc{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 18px; 
}
.popular-tour-photo{
    width: 540px;
    height: 500px;
    margin-top: 35px;
    background-position: center;
    border-radius: 16px;
    background: url('Images/Rectangle\ 4.png'), lightgray 50% / cover no-repeat;
}
.destination-container{
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: grid;
}
.mi{
    width: 1170px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.maldives{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 5.png'), lightgray 50% / cover no-repeat;
}
.indonesia{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 8.png'), lightgray 50% / cover no-repeat;
}
.destination-font{
    position: relative;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    top: 40%;
}

.snk {
    
    width: 1170px;
    height: 286px;
    display: grid;
    grid-template-columns: 347px 474px 1fr;
    gap: 24px;
    margin-top: 24px;
}
.srilanka{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 6.png'), lightgray 50% / cover no-repeat;
}
.north-america{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 7.png'), lightgray 50% / cover no-repeat;
}
.kashmir{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 9.png'), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
.bb{
    width: 1170px;
    height: 300px;
    display: grid;
    grid-template-columns: 473px 1fr;
    gap: 24px;
    margin-top: 24px;
}
.bangladesh{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 11.png'), lightgray 50% / cover no-repeat;
}
.bandarban{
    display: felx;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url('Images/Rectangle\ 10.png'), lightgray 50% / cover no-repeat;
}

.choose-text{
    width: 50%;
    position: relative;
    margin: auto;
    text-align: center;
    margin-bottom: 48px;
}
.choose-text h1{
    color: #131318;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.choose-text p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.handpick-hotel img, .world-class-service img, .best-price img{
    display: block;
    width: 50px;
}
.hotels-and-services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.handpick-hotel{
    padding: 32px;
    width: auto;
    /* height: 284px; */
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.world-class-service{
    padding: 32px;
    width: auto;
    /* height: 284px; */
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.best-price{
    padding: 32px;
    width: 573px;
    /* height: 284px; */
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.choose-us-tittle{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.choose-us-desc{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 486px; 
}
.price-gurantee{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.why-choose-us{
    margin: 100px auto;
}
.section-tittle-and-desc{
text-align: center;
display: grid;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}
.section-tittle-and-desc p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 0;
    width: 643px;
}
.newsletter-section{
    margin-top: 0;
    display: flex;
    justify-content: center;
    padding: 0 100px;
    height: 422px;
    /* border: 1px solid black; */
    gap: 24px;
}
.newsletter-content{
    padding: 40px;
    width: 474px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-content h1{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-content p{
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.newsletter-content hr{
    background: rgba(19, 19, 24, 0.10);
    width: 393px;
    height: 1px;
    border: 0;
    margin: 24px 0;
}
.newsletter-content input[type="text"], .newsletter-content input[type="email"]{
    display: block;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    color: rgba(19, 19, 24, 0.30);
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    border: 0; 
    margin-bottom: 10px;
    width: 393px;
    height: 52px;
   
}
.newsletter-content button{
    width: 393px;
    height: 52px;
}
.seventy-persent-off{
    width: 672px;
    border-radius: 16px;
    background: url('Images/Rectangle\ 8\ \(1\).png'), lightgray 50% / cover no-repeat;
}
.save-up-to{
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    position: relative;
    right: -195px;
    bottom: -253px;
    display: grid;
    justify-content: center;
    align-items: center;
}   
.save-up-to h2{
    color: #FFF;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 
    normal;
    text-align: center;
    margin-top: 4px;
}
.save-up-to p{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    margin-bottom: 0;
}

footer{
    justify-content: center;
    align-items: center;
    height: 402px;
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    display: flex;
}
footer hr{
    width: 100%;
    margin: 20px 0;
}
.footer-content{
    width: 50%;
    height: 100%;
    align-items: center;
}
.copyright{
    margin: 40px 0;
}

@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    .header-content{
        width: auto;
        background-position:center
    }
    .header-items-tittle{
        font-size: 22px;
    }
    .general-desc{
        width: 304px;
        font-size: 14px;
        margin: auto;
    }
    .header-inputs{
        flex-direction: column;
    }
    .header-inputs input[type="text"], select{
        width: 100%;
    }
    .header-inputs button{
        width: 100%;
    }
    .popular-tours{
        flex-direction: column;
    }
    .popular-tour-photo{
        width: 100%;
    }
    .popular-tour-list{
        width: auto;
    }
    .choose-text{
        width: 90%;
    }
    .mi{
        width: 90%;
        height: 460px;
        grid-template-columns: 1fr;
        margin: auto;
        gap: 16px;
    }
    .maldives, .indonesia, .bangladesh{
        background-position: center;
    }
    .snk{
        width: 90%;
        height: 686px;
        grid-template-columns: 1fr;
        margin: 16px auto;
    }
    .srilanka, .north-america, .kashmir, .bandarban {
        background-size: cover;
        background-position: center;
    }
    .bb{
        width: 90%;
        height: 460px;
        grid-template-columns: 1fr;
        gap: 16px;
        margin: auto;
    }
    .section-tittle-and-desc p {
        width: 74%;
        margin: auto;
    }
    .hotels-and-services{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    } 
    .handpick-hotel, .world-class-service, .best-price{
        width: 270px;
        height: 289px;

    }

    .choose-us-desc{
        width: auto;
    }
    .newsletter-section{
        flex-direction: column;
        gap: 16px;
        padding: 0 50px;
        height: auto;
        align-items: center;
    }
    .newsletter-content {
        padding: 24px;
        border-radius: 16px;
        border: 1px solid #FF5400;
        width: 335;
        height: 335px;
    }
    .newsletter-content p {
        width: 100%;
    }
    .newsletter-content hr {
        width: 91%;
    }
    .newsletter-content input[type="text"], .newsletter-content input[type="email"]{
        width: 100%;
    }
    .newsletter-content button {
        width: 100%;
    }
    .seventy-persent-off{
        width: 335px;
        height: 300px;
        flex-shrink: 0;
        padding: 24px;
    }
    .save-up-to{
        width: 214px;
        height: 79px;
        right: -142px;
        bottom: -212px;
    }
    .save-up-to p{
        font-size: 15px;
    }
    .save-up-to h2{
        font-size: 21.13px;
    }
}